---
eleventyComputed:
  permalink: "{{ podcast.feedPath }}"
eleventyAllowMissingExtension: true
---
{%- set siteUrl %}{{ podcast.siteUrl or site.url }}{% endset -%}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:podcast="https://podcastindex.org/namespace/1.0">
  <channel>
    <title>{{ podcast.title }}</title>
    <link>{{ siteUrl }}</link>
    <atom:link href="{{ permalink | htmlBaseUrl(siteUrl) }}" rel="self" type="application/rss+xml" />
    <description>{{ podcast.description }}</description>
    <language>{{ podcast.language }}</language>
    <copyright>{{ podcast.copyrightNotice }}</copyright>
    <pubDate>{{ collections.episodePost | getNewestCollectionItemDate | dateToRfc3339 }}</pubDate>
    <lastBuildDate>{{ podcast.feedLastBuildDate }}</lastBuildDate>
    <itunes:image href="{{ podcast.imagePath | htmlBaseUrl(siteUrl) }}"></itunes:image>
    {%- if podcast.subcategory %}
    <itunes:category text="{{ podcast.category }}">
      <itunes:category text="{{ podcast.subcategory }}" />
    </itunes:category>
    {%- else %}
    <itunes:category text="{{ podcast.category }}" />
    {%- endif %}
    {% if podcast.explicit !== undefined %}
    <itunes:explicit>{{ podcast.explicit }}</itunes:explicit>
    {% endif -%}
    <itunes:author>{{ podcast.author }}</itunes:author>
    {%- if podcast.type %}
    <itunes:type>{{ podcast.type }}</itunes:type>
    {%- endif %}
    {%- if podcast.complete %}
    <itunes:complete>yes</itunes:complete>
    {%- endif %}
    {%- if podcast.block %}
    <itunes:block>yes</itunes:block>
    {%- endif %}
    {%- if podcast.owner %}
    <itunes:owner>
      <itunes:name>{{ podcast.owner.name }}</itunes:name>
      <itunes:email>{{ podcast.owner.email }}</itunes:email>
    </itunes:owner>
    {%- endif %}

    {% for post in collections.episodePost | reverse %}
    <item>
      <title>{{ post.data.episode.title or post.data.title }}</title>
      {% if post.data.episode.itunesTitle %}
      <itunes:title>{{ post.data.episode.itunesTitle }}</title>
      {%- endif %}
      <link>{{ post.url | htmlBaseUrl(siteUrl) }}</link>
      {%- if post.data.guid != undefined %}
      <guid isPermaLink="false">{{ post.data.guid }}</guid>
      {% else %}
      <guid isPermaLink="true">{{ post.url | htmlBaseUrl(siteUrl) }}</guid>
      {% endif -%}
      <pubDate>{{ post.date | dateToRfc3339 }}</pubDate>
      {%- if post.data.episode.chapters %}
      <podcast:chapters url="{{ [post.url, 'chapters.json'] | join('/') | htmlBaseUrl(siteUrl) }}"
        type="application/json+chapters" />
      {% elif post.data.episode.chaptersFile %}
      <podcast:chapters url="{{ post.data.episode.chaptersFile | htmlBaseUrl(siteUrl) }}"
        type="application/json+chapters" />
      {% endif -%}
      {% if podcast.episodeDescriptionTemplate %}
      {%- set episodeDescription -%}
      {% include podcast.episodeDescriptionTemplate %}
      {%- endset -%}
      {%- set episodeDescription = episodeDescription | replace('&amp;', '&') %}
      {% elif post.data.episode.description %}
      {%- set episodeDescription = post.data.episode.description -%}
      {% else %}
      {%- set episodeDescription = post.content | safe | striptags(true) | truncate(800) -%}
      {%- endif %}
      <description>{{ episodeDescription | trim }}</description>
      <itunes:summary>{{ episodeDescription | trim }}</itunes:summary>
      {% if podcast.episodeContentTemplate %}
      {%- set episodeContent -%}
      {% include podcast.episodeContentTemplate %}
      {%- endset -%}
      {% else %}
      {%- set episodeContent = post.content -%}
      {% endif %}
      <content:encoded><![CDATA[{{ episodeContent | renderTransforms(post.data.page, siteUrl) | safe | trim }}]]></content:encoded>
      <enclosure url="{{ post.data.episode.url }}" length="{{ post.data.episode.size }}" type="audio/mp3"></enclosure>
      <itunes:duration>{{ post.data.episode.duration | readableDuration }}</itunes:duration>
      <itunes:episode>{{ post.data.episode.episodeNumber }}</itunes:episode>
      {% if post.data.episode.seasonNumber -%}
      <itunes:season>{{ post.data.episode.seasonNumber }}</itunes:season>
      {%- endif %}
      {%- if post.data.episode.image %}
      <itunes:image href="{{ post.data.episode.image | htmlBaseUrl(siteUrl) }}"></itunes:image>
      {% endif -%}
      {%- if post.data.episode.explicit != undefined %}
      <itunes:explicit>{{ post.data.episode.explicit }}</itunes:explicit>
      {% endif -%}
      {%- if post.data.episode.type %}
      <itunes:episodeType>{{ post.data.episode.type }}</itunes:episodeType>
      {% endif -%}
      {%- if post.data.episode.transcript %}
      <podcast:transcript url="{{ post.data.episode.transcript | htmlBaseUrl(siteUrl) }}"></podcast:transcript>
      {%- endif %}
      {%- if post.data.episode.block === true %}
      <itunes:block>Yes</itunes:block>
      {% endif -%}
    </item>
    {% endfor -%}
  </channel>
</rss>
