---
permalink: "{{ podcast.feedPath or '/feed/podcast.xml' }}"
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  >
  <channel>
    <title>{{ podcast.title }}</title>
    <itunes:subtitle>{{ podcast.subtitle }}</itunes:subtitle>
    <description>{{ podcast.description }}</description>
    <link>{{ podcast.siteUrl }}</link>
    <atom:link href="{{ podcast.feedPath | htmlBaseUrl(podcast.siteUrl) }}" rel="self" type="application/rss+xml" />
    {%- if podcast.owner %}
    <itunes:owner>
      <itunes:name>{{ podcast.owner.name }}</itunes:name>
      <itunes:email>{{ podcast.owner.email }}</itunes:email>
    </itunes:owner>
    {%- endif %}
    <itunes:author>{{ podcast.author }}</itunes:author>
    <itunes:category text="{{ podcast.category }}">
      <itunes:category text="{{ podcast.subcategory }}" />
    </itunes:category>
    <itunes:image href="{{ podcast.imagePath | htmlBaseUrl(podcast.siteUrl) }}"></itunes:image>
    <itunes:summary>{{ podcast.summary }}</itunes:summary>
    {% if podcast.explicit !== undefined %}<itunes:explicit>{{ podcast.explicit or "false" }}</itunes:explicit>{% endif -%}
    <itunes:type>{{ podcast.type }}</itunes:type>
    <itunes:complete>{{ podcast.complete or "no" }}</itunes:complete>
    <language>{{ podcast.language }}</language>
    <copyright>{{ podcast.copyrightNotice }}</copyright>
    <pubDate>{{ collections.podcastEpisode | getNewestCollectionItemDate | dateToRfc3339 }}</pubDate>
    <lastBuildDate>{% feedLastBuildDate %}</lastBuildDate>
    <generator>{{ eleventy.generator }}</generator>
    {% asyncEach post in collections.podcastEpisode | reverse %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ post.url | htmlBaseUrl(podcast.siteUrl) }}</link>
      <pubDate>{{ post.date | dateToRfc3339 }}</pubDate>
      {% if post.data.seasonNumber -%}
      <itunes:season>{{ post.data.seasonNumber }}</itunes:season>
      {%- endif %}
      <itunes:episode>{{ post.data.episodeNumber }}</itunes:episode>
      <itunes:summary>{{ post.content | striptags(true) | truncate(800) }}</itunes:summary>
      <description>{{ post.content | striptags(true) | truncate(800) }}</description>
      <content:encoded>
        <![CDATA[{% include "feed-episode.njk" -%}]]>
      </content:encoded>
      <enclosure url="{{ post.data.episodeUrl }}" length="{{ post.data.episodeSize }}" type="audio/mp3"></enclosure>
      <itunes:duration>{{ post.data.episodeDuration }}</itunes:duration>
      {%- if post.data.guid != undefined %}
      <guid isPermalink="false">{{ post.data.guid }}</guid>
      {% else %}
      <guid isPermalink="true">{{ post.url | htmlBaseUrl(podcast.siteUrl) }}</guid>
      {% endif -%}
      {%- if post.data.explicit != undefined %}
      <itunes:explicit>{{ post.data.explicit }}</itunes:explicit>
      {% endif -%}
      {%- if post.data.type != undefined %}
      <itunes:episodeType>{{ post.data.episodeType }}</itunes:episodeType>
      {% endif -%}
    </item>
    {% endeach -%}
  </channel>
</rss>
